---
is_index: true
layout: default
---
  <div class="nav">
    <a href="/" class="select-posts active">Главная</a>
    <a href="/news" class="select-posts">Лента</a>
    <a href="/meetups" class="select-categories">Встречи</a>
  </div>

<div class="feed">
  {% for post in site.categories.news limit:1 %}
    <div class="main-post">
        <h2>
          <a href="{{ post.url }}" class="link">{{ post.title }}</a>
        </h2>
        <div class="main-post-body">{{ post.content | truncatewords : 100 }}</div>
        <div class="clearfix">
          <div class="main-post-author">{{ post.author }}, {{ post.date | date: "%d/%m/%Y" }}</div>
        </div>                            
    </div>
  {% endfor %}
  <div class="old-posts">
  {% for post in site.categories.news limit:3 offset:1%}
    <div class="old-post">
      <span class="post-date">{{ post.date | date: "%d/%m/%Y" }}</span>
      <span class="post-title"><a class="link" href="{{ post.url }}">{{ post.title }}</a></span>
    </div>
  {% endfor %}
  </div>
  <div class="feed-more"><a class="red-link" href="/news">Архив новостей</a></div>
</div>

<div class="feed">
  <div class="nav">
    <a href="https://groups.google.com/forum/#!forum/scala-enthusiasts-belarus" class="select-posts active">Новое в Google-группе</a>
  </div>
</div>

<script type="text/javascript">
  var disqus_shortname = 'scalaby';
  //var disqus_developer = 1;
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>