<div class="next-meetup">
  <div class="nm-next">Следующая</div>
  <div class="nm-meetup">встреча</div>
  
  <div class="meetup-date">
    <div class="md-date" align="center">{{page.nextmeetup.day}}</div>
    <div class="md-month" align="center">{{page.nextmeetup.month}}</div>
  </div>
  <div align="center"><a class="link nm-program" href="{{page.nextmeetup.program_url}}">Программа</a></div>
  <div align="center" class="nm-participate"><a class="red-link" href="{{page.nextmeetup.participate_url}}">Участвовать!</a></div>
</div>