---
nextmeetup:
  day: 24
  month: Янв, 2015
  participate_url: "https://groups.google.com/forum/#!topic/scala-enthusiasts-belarus/j61FeKYcKRw"
  vote_url: "#"
---
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content="Community of Scala programming language users in Belarus. Коммьюнити пользователей языка программирования Scala в Беларуси (Минск)"/>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" media="all" href="/media/css/style.css" />
</head>
<body>
  <div id="container">  
    <header class="page-header">
      <div class="wrap clearfix">
        <div class="page-header-info">
          <h1 class="site-title">
            <a href="/">#scalaby</a>
          </h1>
        </div>
      </div>
    </header>

    <div id="main" role="main">
      <aside id="widgets">
        {% include nextMeetupDefined.html %}

        <div style="padding-top: 25px;" align="center" class="socials-sidebar">
          <a class="btn btn-facebook" href="https://www.facebook.com/pages/Scala-Enthusiasts-Belarus/137171759692484" title="Facebook">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="btn btn-twitter" href="http://twitter.com/scalaby" title="Twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="btn btn-github" href="https://github.com/scalaby" title="GitHub">
            <i class="fa fa-github"></i>
          </a>                              
        </div>

        <!--div class="twitter">
          <a href="http://twitter.com/{{ site.twitter.account }}" class="link"><img src="/media/img/twitter.png" /></a>
          <span class="tweet-text"></span>
          <div class="tweet-date"></div>
        </div>

        <div class="facebook">
          <div>
            <a href="{{ site.facebook.page }}" class="link"><img src="/media/img/facebook.png"/></a>
          </div>
          <div class="facebook-entries">
          </div>
        </div-->

      </aside>
      <section id="content">      
        {{ content }}
      </section>
    </div>

    <footer class="page-footer">
      <section class="copyright-info">
        <p>Scala Enthusiasts Belarus, 2011 - 2015.</p>
        <p>
          Created by
          <a href="http://twitter.com/remeniuk">@remeniuk</a> and
          <a href="https://www.linkedin.com/pub/artyom-olshevskiy/7/458/586">Artyom Olshevskiy</a>
        </p>
        <p>Some rights reserved (c).</p>
      </section>
    </footer>
  </div>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi?key={{ site.google.api_key  }}"></script>
  <script type="text/javascript">
    window.feedUrls = {
      facebook: '{{ site.twitter.feed }}',
      twitter: '{{ site.facebook.feed }}',
      google: '{{ site.google.group.feed }}'
    }
    window.twitterAccount = '{{ site.twitter.account }}';
  </script>
  <script type="text/javascript" src="/media/js/script.js"></script>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js">{lang: 'ru'}</script>
  <script>
    var _gaq=[['_setAccount','UA-24657180-1'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
