<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{page.title}}</title>
<link rel="stylesheet" href="/media/css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/media/css/blueprint/print.css" type="text/css" media="print"> 
<!--[if lt IE 8]>
  <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->
<link rel="stylesheet" href="/media/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
</head>
<body>
	<div class="container">
		{{content}}
		<div class="span-24">			
			<a href="http://www.facebook.com/pages/Scala-Enthusiasts-Belarus/137171759692484?sk=wall">Facebook</a><br />
			<a href="http://twitter.com/#!/scalaby">Twitter</a><br />
			<a href="https://groups.google.com/forum/#!forum/scala-enthusiasts-belarus">Google Groups</a>
		</div>
	</div>
</body>
</html>
