---
layout: default
---
<div class="nav">
  <a href="/" class="select-posts">Главная</a>
  <a href="/news" class="select-posts">Лента</a>
  <a href="/meetups" class="active select-categories">Встречи</a>
</div>

<div class="feed">
  <div class="old-posts">
    {% for post in site.posts %}
      {% if post.categories contains page.category %}
        <div class="old-post">
          <span class="post-date">{{ post.date | date: "%d/%m/%Y" }}</span>
          <span class="post-title"><a class="link" href="{{ post.url }}">{{ post.title }}</a></span>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
